<!DOCTYPE html>
<html lang="en">
  <!-- BEGIN HEAD -->
  <%= render 'layouts/admin/head' %>
  <!-- END HEAD -->
  <body>
    <!-- BEGIN ADMIN CONTENT -->
    <div id="vueApp" v-cloak>
      <!-- BEGIN NAVBAR -->
      <% if @show_header %>
        <%= render 'layouts/admin/navbar' %>
      <% end %>
      <!-- END NAVBAR -->
      <div class="d-flex">
        <!-- BEGIN SIDEBAR -->
        <% if @show_sidebar %>
          <%= render 'layouts/admin/sidebar' %>
        <% end %>
        <!-- END SIDEBAR -->
        <div class="px-5 vh-91 w-100 d-flex flex-column justify-content-start" style="height: 91vh;overflow-y: scroll;">
          <%= render "layouts/admin/messages" %>
          <!-- BEGIN MAIN CONTENT -->
          <main class="pt-3">
            <%= yield %>
          </main>
          <!-- END MAIN CONTENT -->
          <%= render "layouts/admin/footer" %>
        </div>
      </div>
    </div>
    <!-- END ADMIN CONTENT -->
  </body>
</html>